@font-face {
  font-family: tinyWidgets-main;
  src: url(inter.woff2) format('woff2');
}

@font-face {
  font-family: tinyWidgets-mono;
  src: url(inconsolata.woff2) format('woff2');
}

:root {
  --tinyWidgets-accentHue: 240;
  --tinyWidgets-App-sideNavWidth: 20rem;
  --tinyWidgets-App-topNavHeight: 4rem;
}
